<h1>New Brand</h1>

<% if @brand.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @brand.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/brands" method="post">
  <label for="brand_name">New Brand Name</label>
  <input id="brand_name" name="new_brand[name]" type="text" value="<%= @brand.name %>">
  <button>Add Brand</button>
</form>