<h1>New Brand</h1>

<% if @brand.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @brand.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/brands" method="post">
  <%= render('form') %>
  <button>Add Brand</button>
</form>