
  
  <label for="shoe_style">Edit Shoe Style</label>
  <input id="shoe_style" name="new_shoe[style]" type="text" value="<%= @shoe.style %>" >
  <label for="shoe_color">Edit Shoe Color</label>
  <input id="shoe_color" name="new_shoe[color]" type="text" value="<%= @shoe.color %>" >
 