<div class= 'container-fluid'><h1>New Shoe</h1>

<% if @shoe.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @shoe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/shoes" method="post">
 <%= render('form') %>
  <button>Add Shoe</button>

 <div >Select Brand:</div>
 <select name="new_shoe[brand_id]">
    <% @brands.each do |brand| %>
     <option value="<%= brand.id %>" ><%= brand.name %></option>
    <% end %>
  </select>

</form>
</div>