<h1>Style: <%= @shoe.style%></h1>
<h1>Color: <%= @shoe.color%></h1>

<form action="/shoes/<%=params[:id]%>/edit">
  <button>Update</button>
</form>

<br><form action="/shoes/<%= @shoe.id %>/delete" method="get">
  <button>Delete</button>
</form>

<br><form action="/shoes" method ="get">
	<button>Home</button>
</form>